Repository Lercerss/graphelier, pull requests merged in 2020-03, with the labels that each got.

#194 [#191] Fixed zoom out bug when zoomed in too deep
  app/src/components/TopOfBookGraph.tsx
Labels: bug, front-end, zoom-graph

#195 [#190] Fixed incorrect data in Top of Book graph
  core/graphelier-service/db/mongo.go
  core/graphelier-service/models/orderbooks.go
  core/graphelier-service/models/orderbooks_test.go
Labels: bug, hot, zoom-graph

#198 [#197] Set up docker for the news API
  .circleci/config.yml
  .gitignore
  core/.gitignore
  docker-compose.yml
  news/.gitignore
  news/db/Dockerfile
  news/service/Dockerfile
  news/service/requirements.txt
Labels: CICD, news-articles, setup

#202 [#170] resolved bug in timezone handler for scale
  app/src/utils/date-utils.ts
Labels: bug, front-end

#200 [#199] Implement a text summarizer
  .circleci/config.yml
  core/graphelier-service/db/mongo.go
  news/scripts/Dockerfile
  news/scripts/__init__.py
  news/scripts/pylintrc
  news/scripts/requirements.txt
  news/scripts/summarizer.py
  news/scripts/summarizer.spec.py
  news/service/Dockerfile
Labels: news-articles

#184 [#178] Playback route impl. using websocket
  app/package-lock.json
  app/package.json
  app/src/tests/samples/socket_client.js
  core/graphelier-service/api/hndlrs/handlers.go
  core/graphelier-service/api/hndlrs/obhandler_test.go
  core/graphelier-service/api/hndlrs/playbackhandler.go
  core/graphelier-service/api/hndlrs/playbackhandler_test.go
  core/graphelier-service/api/routes.go
  core/graphelier-service/db/mongo.go
  core/graphelier-service/mock_db/mock_mongo.go
  core/graphelier-service/models/orderbooks.go
  core/graphelier-service/models/orderbooks_test.go
  core/graphelier-service/models/playback.go
  core/graphelier-service/models/playback_test.go
  core/graphelier-service/utils/test_utils/httpreq.go
Labels: playback
