Repository Lercerss/graphelier, pull requests merged in 2020-04, with the labels that each got.

#211 [#206] Add direction attribute to modifications
  core/graphelier-service/models/playback.go
Labels: bug, playback

#205 #188 Clicking on message in Order Details
  app/package-lock.json
  app/src/actions/actions.ts
  app/src/actions/types.ts
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/OrderInformation.tsx
  app/src/models/OrderBook.ts
  app/src/reducers/generalReducers.ts
  app/src/styles/App.ts
  app/src/styles/OrderInformation.ts
  app/src/tests/component-tests/OrderBookSnapshot.test.tsx
Labels: front-end, order-information

#212 [#208] Clustering of news articles
  news/scripts/models/news.py
  news/scripts/mongo_news_db/db_connector.py
  news/scripts/news_cluster.py
  news/scripts/news_cluster.spec.py
  news/scripts/requirements.txt
Labels: news-articles

#214 [#178] Added last_sod_offset to playback response
  core/graphelier-service/api/hndlrs/playbackhandler.go
  core/graphelier-service/models/orderbooks.go
  core/graphelier-service/models/playback.go
Labels: back-end, bug, playback

#215 [#178] Fixed mislabeled response field NewId
  core/graphelier-service/models/playback.go
Labels: back-end, bug, playback

#220 [#201] Implemented route for news cluster feature
  .circleci/config.yml
  docker-compose.override.yml
  docker-compose.yml
  news/service/Dockerfile
  news/service/__init__.py
  news/service/db.py
  news/service/main.py
  news/service/pylintrc
  news/service/requirements.txt
  news/service/serializers.py
  news/service/server.py
  news/service/views.py
  news/service/views.spec.py
Labels: news-articles

#221 [#218] Set correct timestamp for playback
  app/src/tests/samples/socket_client.js
  core/graphelier-service/api/hndlrs/playbackhandler.go
  core/graphelier-service/api/hndlrs/playbackhandler_test.go
  core/graphelier-service/api/routes.go
  core/graphelier-service/models/orderbooks.go
Labels: back-end, bug, playback

#222 [#201] Fix for exposed port on prod for graphelier news
  news/service/Dockerfile
  news/service/server.py
Labels: bug, hot

#223 [#201] Decorated news api with CORS support
  news/service/requirements.txt
  news/service/server.py
Labels: hot, news-articles

#225 [#210] Added logo to repo
  CourseAdmin/logo.png
Labels: documentation

#227 [#210] Graphelier Logo
  app/src/assets/graphelierLogoWhite.png
  app/src/components/template/Dashboard.tsx
  app/src/styles/Dashboard.ts
Labels: front-end

#224 [#193] News Timeline Frontend
  app/package-lock.json
  app/package.json
  app/src/components/ArticleDetails.tsx
  app/src/components/ArticleItem.tsx
  app/src/components/NewsTimeline.tsx
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/OrderInformation.tsx
  app/src/components/template/Dashboard.tsx
  app/src/components/template/listItems.tsx
  app/src/constants/Constants.ts
  app/src/models/NewsTimeline.ts
  app/src/models/OrderBook.ts
  app/src/services/HttpClient.ts
  app/src/services/NewsService.ts
  app/src/services/OrderBookService.ts
  app/src/styles/App.ts
  app/src/styles/ArticleDetails.ts
  app/src/styles/ArticleItem.ts
  app/src/styles/Dashboard.ts
  app/src/styles/NewsTimeline.ts
  app/src/styles/OrderBookSnapshot.ts
  app/src/utils/date-utils.ts
Labels: front-end, news-articles, task

#229 [#228] Fixed bug with clickable, colored tickers in the article details
  app/src/components/ArticleDetails.tsx
  app/src/components/ArticleItem.tsx
  app/src/components/NewsTimeline.tsx
Labels: bug, front-end, news-articles

#231 [#230] Add rate validation in backend
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/PlaybackControl.tsx
  core/graphelier-service/api/hndlrs/playbackhandler.go
Labels: bug, playback

#233 [#226] Updated Changelog and Readme
  CHANGELOG.md
  CourseAdmin/Graphelier Milestone3 Document.pdf
  README.md
Labels: documentation
