Repository Lercerss/graphelier, pull requests merged in 2020-02, with the labels that each got.

#171 [#170] Fixed scale being offset by an hour
  app/src/components/TopOfBookGraph.tsx
  app/src/constants/Constants.ts
  app/src/utils/date-utils.ts
Labels: bug, front-end

#173 [#172] Bug 172
  app/src/components/MessageList.tsx
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/TopOfBookGraph.tsx
  app/src/components/TopOfBookGraphWrapper.tsx
  app/src/constants/Constants.ts
  app/src/styles/OrderBookSnapshot.ts
  app/src/styles/TopOfBookGraphWrapper.ts
Labels: ToB-graph, bug, front-end

#174 [#172] Fixed issue with X-axis on window resize
  app/package.json
  app/src/components/OrderBookSnapshot.tsx
Labels: ToB-graph, bug, front-end

#185 [#176] Added animations to OB modifications
  app/package.json
  app/src/components/Order.tsx
  app/src/components/PriceLevel.tsx
  app/src/styles/Order.ts
  app/src/styles/PriceLevel.ts
  app/src/tests/component-tests/TimestampOrderBookScroller.test.tsx
  package-lock.json
Labels: playback

#186 Graph zooming & panning
  app/.eslintrc.json
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/TopOfBookGraph.tsx
  app/src/components/TopOfBookGraphWrapper.tsx
  app/src/constants/Constants.ts
  app/src/models/OrderBook.ts
  app/src/tests/component-tests/OrderBookSnapshot.test.tsx
  app/src/utils/date-utils.ts
  app/src/utils/number-utils.ts
  package-lock.json
Labels: front-end, zoom-graph

#183 [#164] zoom small interval api
  core/graphelier-service/api/hndlrs/topbookhandler.go
  core/graphelier-service/db/mongo.go
  core/graphelier-service/mock_db/mock_mongo.go
  core/graphelier-service/models/graph.go
  core/graphelier-service/models/graph_test.go
  core/graphelier-service/models/orderbooks.go
  core/graphelier-service/models/orderbooks_test.go
Labels: zoom-graph

#189 [#176] Added animations on pricelevels
  app/src/components/PriceLevel.tsx
  app/src/components/TimestampOrderBookScroller.tsx
  app/src/constants/Constants.ts
  app/src/styles/PriceLevel.ts
  app/src/styles/TimestampOrderBookScroller.ts
Labels: playback

#187 Order information component #126
  app/package-lock.json
  app/package.json
  app/src/actions/actions.ts
  app/src/actions/types.ts
  app/src/components/Order.tsx
  app/src/components/OrderBookSnapshot.tsx
  app/src/components/OrderInformation.tsx
  app/src/components/PriceLevel.tsx
  app/src/components/TimestampOrderBookScroller.tsx
  app/src/models/OrderBook.ts
  app/src/reducers/generalReducers.ts
  app/src/services/OrderBookService.ts
  app/src/store/index.ts
  app/src/styles/Order.ts
  app/src/styles/OrderBookSnapshot.ts
  app/src/styles/OrderInformation.ts
  app/src/tests/component-tests/OrderBookSnapshot.test.tsx
  app/src/tests/component-tests/OrderInformation.test.tsx
  app/src/tests/component-tests/TimestampOrderBookScroller.test.tsx
  app/src/tests/utils/mock-data.ts
  package-lock.json
Labels: front-end, order-information
